div{
    text-align: center;
}
h1{
    
    font-weight: bold;
    font-size: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h3{
    
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
button{
    padding: 20px 40px;
    background-color:#e9ab90;
    border: 1px solid aqua;
}
button:hover{
    border: 1px solid  rgb(35, 237, 35);
    background-color: rgb(35, 237, 35);
}